<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Software Testing</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12 discription">
    <h3>Software Testing</h3>
    <hr>
    <p>
      Ordusion offers software testing and software maintenance services as well. Our testing services span the full life cycle of software, from inception to steady maintenance. We understand the intricacies and the demands of the trade and our offerings reflect.
    </p>
    <hr>
    <p>
      We are fully aware of the pain points faced by many companies in the process of software production and maintenance. It is not uncommon for QA to be given a step mother treatment within teams and developers themselves. We have worked with companies to offset this problem and establish a firm QA process in place at different organizations. As a result of our involvements we have carved out our own methodologies, processes and practices that are well proven to be efficient and in par with the industry standards.
    </p>
    <hr>
    <p>
      Ordusion has strength of little more than a hundred QA engineers to amass for projects as per the need. The professionals call from expertise that span across many specialties and technologies.
    </p>
    <hr>
    <span class="decorate">Quick facts about our QA offerings are:</span>
    <ul>
      <li>A strength of 30 well trained resources and up to 100 resources through partnering companies.</li>
      <li>Expertise span across manual, automation, database, web-services, white box, functional, and non-functional testing.</li>
      <li>Focus on independent testing projects as well as support to full life cycle projects and product development.</li>
      <li>Experience in handling complex and small and medium scale projects.</li>
    </ul>
    <div class="col-md-12">
      <div class="col-md-6">
        <span class="decorate">Domains of expertise:</span>
        <ul>
          <li>Mortgage</li>
          <li>Finance and Banking</li>
          <li>Telecom</li>
          <li>Brokerage</li>
          <li>Engineering</li>
          <li>Health Care and Pharmaceuticals</li>
          <li>Retail</li>
        </ul>
      </div>

      <div class="col-md-6">
        <table>
          <tr><th>Process</th><th>Tools</th></tr>
          <tr><td>Regression</td><td>HP Functional Testing</td></tr>
          <tr><td>Performance</td><td>HP LoadRunner</td></tr>
          <tr><td>Defect management</td><td>HP Quality Centers</td></tr>
          <tr><td>Database testing</td><td>TOAD</td></tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="col-md-12">
      <hr>
      <p>
        We also have expertise in working with Microsoft Team Foundation Testing Tools. We have a rich collection Custom coded testing scripts and tools for testing GUI based components, and Tools. Ordusion owns a rich library of Shell script based tools for Load Testing web based interfaces of systems. We also have a rich collection of custom developed SAP testing scripts and tools.
      </p>
      <hr>
    </div>

  </div>
</div>
