<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Product Development</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12 discription">
    <h3>Product Development</h3>
    <hr>
    <p>
      Ordusion helps its client out with two basic model of product development. In one model clients can tap from a vast reserve of highly skilled technical and management consultants, onsite or offsite, and manage the development activity within their infrastructure. This is the Time and Material model Ordusion offers.
    </p>
    <hr>
    <p>
      In the second model Ordusion works hand in hand with the client and for a stake in the product. We have successfully implemented this model with our clients. For startups this is a well suited solution, where they can manage the whole engineering activity, which is very intense in the beginning, under a low budget. Our expertise helps make the product cycle flourish strongly.
    </p>
    <hr>
    <p>
      Ordusion has a strong knowledge and experience base in using Open Source to build products for its customers. We have our own customized Open Source software components which we use to build products quickly. Ordusion owns the IP on this software library but licenses the use of them for its clients. This leads to a very quick turnaround of products from concept to complete working model.
    </p>
    <hr>
    <span style="font-weight: bolder;font-size: 17px;margin-bottom: 20px;display: block;">Some products Ordusion has helped build:</span>
    <span class="decorate">Vendor Management System</span>
    <ul>
      <li>A web based Vendor Management Portal implemented using Microsoft technology only. Ordusion provided the use of its software components for quick search, scheduling, work flow and trouble ticketing. 9629294456</li>
    </ul>
    <span class="decorate">Knowledge sharing portal</span>
    <ul>
      <li>This is developed for Ordusion by Ordusion team. Fully implemented using latest Open Source Technologies. A lot of research went into making this happen as well as overcoming a lot of challenges. But we are happy to report good progress.</li>
    </ul>
    <span class="decorate">Visual expression portal</span>
    <ul>
      <li>This again is implemented using Ordusion’s IP. The implementation is in total Open Source Technology. The development activity is in progress</li>
    </ul>
    <span class="decorate">Consultant’s self-service portal</span>
    <ul>
      <li>This is a web portal using Microsoft technologies.</li>
    </ul>
    <span class="decorate">Engineering Change Management</span>
    <ul>
      <li>This product was implemented by resources from Ordusion. The model was Time and Material.</li>
    </ul>
  </div>
  <div class="col-md-12 buttons-buttom">
      <button [routerLink]="['/strategy']">PRODUCT DEVELOPMENT <br> STRATEGY</button>
      <button [routerLink]="['/materials']"><span>MATERIALS <br> MANAGEMENT</span></button>
      <button [routerLink]="['/engineering']">ENGINEERING CHANGE <br> CONTROL MANAGEMENT</button>
  </div>
</div>
