<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Materials Management</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12 textblock">
    <p>Materials Manager is a Web based product that assists managers with managing the Material Creation process easy. This product is implemented on the NetWeaver using Web Dynpro.  The product tightly integrates with existing SAP implementation base and presents a slick and intuitive interface to the managers while providing summarized data and reports to help with their decisions.</p>
    <span style="font-weight:bold;">Some quick facts about Materials Manager are:</span>

    <span class="decorate">Benefits:</span>
    <ul>
      <li>Automated Material Creation process with faster Turn-around</li>
      <li>Co-ordination, data flow and communications among the teams will be automated</li>
      <li>Very user friendly interface to all stages of operations</li>
      <li>Data integrity is fully maintained</li>
      <li>Provides better Communication between all members of the process at all stages</li>
      <li>Very cost Effective</li>
      <li>Universal Work List (UWL) for workflow is created and maintained with archiving facility</li>
      <li>Creates a fully searchable audit trail with full dimensional information</li>
      <li>Can be customized to suit the needs of the client</li>
      <li>Data validation from R/3 while entering the material related data</li>
      <li>Different sections of material data can be entered in parallel</li>
      <li>Time line is strictly enforced by the result of automation</li>
    </ul>

    <div class="owl-carousel">
      <div class="slider-item1"></div>
      <div class="slider-item2"></div>
      <div class="slider-item3"></div>
      <div class="slider-item4"></div>
      <div class="slider-item5"></div>
      <div class="slider-item6"></div>
      <div class="slider-item7"></div>
      <div class="slider-item8"></div>
      <div class="slider-item9"></div>
      <div class="slider-item10"></div>

    </div>
  </div>
</div>
