<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Clients</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 discription">
      <h3>Clients</h3>
      <hr>
      <p>
        Ordusion works with companies with various sizes and locations. We are proud of our clients.
      </p>
      <span class="decorate">Among our clients are:</span>
      <div class="col-md-12" clients>
      <div class="container">
        <div class="row">
          <div class="col-md-4"><img src="../app/assets/client1.jpg" alt="client"></div>
          <div class="col-md-4"><img src="../app/assets/client2.jpg" alt="client"></div>
          <div class="col-md-4"><img src="../app/assets/client3.jpg" alt="client"></div>
        </div>
      </div>
      </div>
      <div class="col-md-12" clients2>
        <div class="container">
          <div class="row">
            <div class="col-md-4"><img src="../app/assets/client4.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client5.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client6.jpg" alt="client"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12" clients3>
        <div class="container">
          <div class="row">
            <div class="col-md-4"><img src="../app/assets/client7.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client8.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client9.jpg" alt="client"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12" clients4>
        <div class="container">
          <div class="row">
            <div class="col-md-4"><img src="../app/assets/client10.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client11.jpg" alt="client"></div>
            <div class="col-md-4"><img src="../app/assets/client12.jpg" alt="client"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
