<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>About Us</h3>
    </div>
  </div>
</div>
<div class="container-fluid discription">
  <div class="container">
    <div class="row">
      <div class="col-md-12  about-ordusion">
        <h3>About Ordusion</h3>
        <hr>
        <p>
          Founded in 1997 Ordusion Technologies has been partnering with its clients in effectively using Information Technology for their success in business. By sharing their expertise in project implementation and product development together with staff augmentation and re-skilling employees, Ordusion has taken part in the successful journey of its clients across many industries and geographies.
        </p>
        <hr>
        <p>
          With offices in India and Sri Lanka Ordusion offers Onsite, Offsite, Onshore, Offshore and Near Shore models of cost reduction in Information Technology Services. Our services span across many areas that include Product Implementation, Product Development, Software Quality Assurance and Re-skilling of employees.
        </p>
        <hr>
        <p>
          Equipped with knowledge and experience we have implemented many projects successfully and helped clients bring their concepts to products in record speed under time and under budget. Our team of well trained and highly professional consultants calls from many areas of technical expertise.
        </p>
        <hr>
        <p>
          For the last Seventeen years Ordusion has been steadily growing continuously and now boasts of a strong management and technical team to stand behind the service offerings. Our management team is made of veterans in IT field who have led various institutions to success and bring that knowledge and experience onboard to enrich the leadership at Ordusion.
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>
