<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Engineering Change Control Management</h3>
    </div>
  </div>
</div>
<div class="container textblock">
  <div class="col-md-12">
    <p>Engineering Change Control Management is an application that provides production managers with a simple and integrated interface for creating and tracking changes for products in a manufacturing environment. With a Web Portal primary interface this application is totally implemented in ABAP.</p>
    <span class="decorate">Quick facts about ECM:</span>
    <ul>
      <li>A process to search, create, approve and track change request</li>
      <li>Provide visibility to product under change control</li>
      <li>Identify documents, BOM, Drawings, Cost Information, etc affected by change</li>
      <li>Capability to adopt industry standard method (CMII)</li>
      <li>Provide consistent  change management process across the enterprise</li>
      <li>A web based application accessible thru portal</li>
      <li>WD4A based architecture</li>
      <li>Utilizes SAP PLM core components</li>
    </ul>

    <span class="decorate">Benefits:</span>
    <ul>
      <li>Product Data</li>
      <li>Readily available when required</li>
      <li>Single Source</li>
      <li>Search and Re-use</li>
    </ul>

    <span class="decorate">Power of Change Control it provides:</span>
    <ul>
      <li>Track changes against a product</li>
      <li>Items affected by change</li>
      <li>Revisions resulting in change</li>
      <li>Engineering related Vs manufacturing related</li>
      <li>Consistent approval process</li>
      <li>Paths for fast track and routine changes</li>
    </ul>

    <div class="owl-carousel">
      <div class="slider-item1"></div>
      <div class="slider-item2"></div>
      <div class="slider-item3"></div>
      <div class="slider-item4"></div>
      <div class="slider-item5"></div>

    </div>
  </div>
</div>
