<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Corporate Training</h3>
    </div>
  </div>
</div>
<div class="container">
        <div class="row">
          <div class="col-md-12 discription">
            <h3>Corporate Training</h3>
            <hr>
      <p>
        Ordusion has always been among the leaders in reskilling employees for corporations when a change in technology occurs or as a paradigm shift in industry takes place. We have been continuously improving our teaching methods with consistence results so that now we have time proven methodologies to rapidly retrain candidates.
      </p>
      <hr>
      <p>
        With its experienced panel of instructors who are experts in their respective fields Ordusion offers a wide variety of courses to suite your needs. We offer structured courses in Information Technology, Telecommunication and Software development. These are offer at our facility as well as on site as per requirement of clients. All courses are accompanied with hands on training using installed system of the latest version of software and teaching materials.
      </p>
      <hr>
      <p>
        Our instructors are certified in their respective fields and come with at least 10 years of experience in the fields on various sizes of projects. Every one of them has adequate teaching experience and can communicate well with their students.
      </p>
      <hr>
      <p>
        Ordusion offers courses in Telecommunication subjects as well as Enterprise Application Software. The Telecommunication training focuses mainly on 4G technology, and is aimed directly at users who need an in depth understanding of the protocol stack and packet traffic.
      </p>
      <hr>
      <p>
        The software development training focuses on SAP and Business Intelligence suites.
      </p>
      <hr>
      <span class="decorate">Courses offered:</span>
      <ul>
        <li>Business objects - Xcelsius</li>
        <li>Business Objects - Live Office (Series I)</li>
        <li>Business Objects - Voyager</li>
        <li>Business Objects - Performance Management Designers</li>
        <li>Business Objects - Report Developers (WEBI)</li>
        <li>Business Objects Crystal Reports 2008</li>
      </ul>
      <span class="decorate">Informatica – Power Center</span>
    </div>
  </div>
</div>
