<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>Contact US</h3>
    </div>
  </div>
</div>
<div class="container-fluid discription">
  <div class="container">
    <div class="row">
      <div class="col-md-12  careers">
        <h3>Contact US</h3>
        <hr>
        <span class="decorate">Corporate Headquarters, USA:</span>
        <p style="font-weight: bold;">Moved From:</p>
        <p class="Moved-From">3883 Rogers Bridge Road, Suite #504</p>
        <p class="Moved-From">Duluth, GA 30097</p>
        <span class="decorate">Current Address :</span>
        <p class="Moved-From">3057 Peachtree Industrial Blvd, Suite #210</p>
        <p class="Moved-From">Duluth, GA 30097</p>
        <p><span class="decorate"><i class="fa fa-phone" aria-hidden="true"></i></span> (770) 814 2110, (678) 387 2930, (678) 387 2931 </p>
        <p><span class="decorate"><i class="fa fa-fax" aria-hidden="true"></i></span> (770) 814 2353</p>
        <span class="decorate"><i class="fa fa-envelope" aria-hidden="true"></i><a href="">training@ordusion.com</a></span>
      </div>
      <div class="col-md-3">
        <h3>Sales & Marketing</h3>
        <hr>
        <p><span class="decorate"><i class="fa fa-phone" aria-hidden="true"></i></span>770-814 -2110</p>
        <span class="decorate"><i class="fa fa-envelope" aria-hidden="true"></i><a href="">info@ordusion.com</a></span>
      </div>
      <div class="col-md-3">
        <h3>Staffing & Recruitment</h3>
        <hr>
        <p><span class="decorate"><i class="fa fa-phone" aria-hidden="true"></i></span>770-814-2110, 678-387-2930</p>
        <span class="decorate"><i class="fa fa-envelope" aria-hidden="true"></i><a href="">staffing@ordusion.com</a></span>
      </div>
      <div class="col-md-3">
        <h3>Business Solutions</h3>
        <hr>
        <p><span class="decorate"><i class="fa fa-phone" aria-hidden="true"></i></span>770-814 -2110</p>
        <span class="decorate"><i class="fa fa-envelope" aria-hidden="true"></i><a href="">solutions@ordusion.com</a></span>
      </div>
      <div class="col-md-3">
        <h3>Corporate Training</h3>
        <hr>
        <p><span class="decorate"><i class="fa fa-phone" aria-hidden="true"></i></span>770-814 -2110</p>
        <span class="decorate"><i class="fa fa-envelope" aria-hidden="true"></i><a href="">training@ordusion.com</a></span>
      </div>
    </div>
  </div>
</div>
