<div class="owl-carousel">
  <div class="slider-item1"></div>
  <div class="slider-item2"></div>
  <div class="slider-item3"></div>

</div>
<div class="container-fluid info-text">
  <div class="container">
    <div class="row">
      <h3>ORDUSION</h3>
      <div class="col-md-10">
        <p>Ever since it was founded in 1997, Ordusion Technologies Inc., has been partnering with its clients in most effectively using Information Technology for bringing success to their business. By efficiently using their expertise in the areas of staff augmentation, retraining and re-skilling of employees  Ordusion has been bringing</p>
      </div>
      <div class="col-md-2">
        <button [routerLink]="['/about']">READ MORE</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid info-blocks">
  <div class="container">
    <div class="col-md-4">
      <h3>STAFF AUGMENTATION</h3>
      <hr>
      <img src="../app/assets/icon1.png" alt="ICON">
      <p>Remember the days companies used to have  huge internal IT departments? The trend is cost reduction and companies  are looking for ways to reduce the number of permanent IT staff.</p>
      <button [routerLink]="['/staff']">READ MORE</button>
    </div>
    <div class="col-md-4">
      <h3>CORPORATE TRAINING</h3>
      <hr>
      <img src="../app/assets/icon2.png" alt="ICON">
      <p>Ordusion is highly specialized in the area of retraining and reskilling corporate employees when a change in technology occurs or a paradigm shift in industry takes place. We have</p>
      <button [routerLink]="['/training']">READ MORE</button>
    </div>
    <div class="col-md-4">
      <h3>SOFTWARE TESTING</h3>
      <hr>
      <img src="../app/assets/icon3.png" alt="ICON">
      <p>Ordusion offers its specialized services to clients in software testing and maintenance. With our rich exhaustive experience with SQA projects we are able to help our clients meet their</p>
      <button>READ MORE</button>
    </div>
  </div>
</div>
